
:root {
  --light-green : #177135;
  --dark-green : #105226;
  --text-green : #167134;
  --border-green : #b8c6bc;
}
.ForgotPassword__Wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    text-align: center;
}
.ForgotPassword {
    position: relative;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

.ForgotPassword__Title {
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  font-size: 2rem;
  color: steelblue;
  
}

#ForgotPassword__textInput {
  width: 70%;
  padding: 20px 26px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}



.ForgotPassword__button--submit {
  background-color:steelblue;
  color: white;
  padding: 16px 24px;
  margin: 5% 5%;
  cursor: pointer;
  width: 70%;
  font-size: large;
  border-radius: 10px;
  border: 1px solid #56baed;

}

.ForgotPassword__button--submit:hover {
  opacity: 0.8;
}

#ForgotPassword__button--signUp{
  border: none;
  color: var(--text-green);
}
#ForgotPassword__button--signUp:hover{
  border: none;
  color: var(--text-green);
  
}

#ForgotPassword__button--forgotPassword{
  border: none;
  color: var(--text-green);
}
#ForgotPassword__button--forgotPassword:hover{
  border: none;
  color: var(--text-green);
  
}

.ForgotPassword__HiddentextInput {
    width: 70%;
    padding: 20px 26px;
    margin: 2% 2%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
    display:none;

}

.errorMsg {
    color:rgb(238, 10, 10)
}
@media only screen and (max-width: 1024px) {
  .ForgotPassword__Wrapper { width:100%}
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}