:root {
  --light-green : #177135;
  --dark-green : #105226;
  --text-green : #167134;
  --border-green : #b8c6bc;
}

* {
    margin: 0;
}
.navigation  {
    margin: 0;
    width: 100vw;
    height: 8vh;
    background-color: var(--dark-green);
    box-shadow: 3px 3px 3px grey;
}
.navigation__menu {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
#navigation__logo {
    /* position: relative;
    
    margin-top: 1.5%;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    letter-spacing: 3px; */
    /* width: 200px;
    height: 75px; */
    margin-right:10%;
    
  }

  .title-logo{
    font-weight: bold;
    margin-top: 1.2%;
    margin-right:5%;
    float: right;
    color: white;   
    font-size: 18px;
  }
  
#navigation__signIn {
    font-weight: bold;
    margin-top: 2%;
    margin-left:8%;
    float: left;
    color: white;
    cursor: pointer;
    padding:5px;
    border: 1px solid white;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    
}

@media only screen and (max-width: 1024px) {
  #navigation__logo , #navigation__signIn { margin-top: 2.5%;}
}



  
