* {
    margin: 0;
}
.navigation  {
    margin: 0;
    width: 100vw;
    height: 8vh;
    background-color: rgb(9, 76, 131);
    box-shadow: 3px 3px 3px grey;
}
.navigation__menu {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
#navigation__logo {
    margin-left:2vw;
    margin-top: 4vh;
    float: left;
    color: white;
  }
  
#navigation__signIn {
    font-weight: bold;
    margin-top: 4vh;
    margin-right:2vw;
    float: right;
    color: white;
}


  

  
