* {
    margin: 0;
}
.navigation  {
    margin: 0;
    width: 100vw;
    height: 8vh;
    background-color: rgb(9, 76, 131);
    box-shadow: 3px 3px 3px grey;
}
.navigation__menu {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
#navigation__logo {
    position: relative;
    margin-right:10%;
    margin-top: 1.5%;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
    
  }
  
#navigation__signIn {
    font-weight: bold;
    margin-top: 1.5%;
    margin-left:5%;
    float: left;
    color: white;
    cursor: pointer;
    padding:5px;
    border: 1px solid white;
    border-radius: 5px;
    
}

@media only screen and (max-width: 1024px) {
  #navigation__logo , #navigation__signIn { margin-top: 2.5%;}
}



  
