.MainProfileCard__Wrapper{
  background: #fff;
  flex: 1;
  margin-bottom: 50px;
  padding: 22px 30px 32px 30px;

}
.MainProfileCard__Header{
  align-items: flex-start;
  display: flex;
}
.MainProfileCard__Header__ProfilePicture_holder{
  padding-left: 22px;
}
.MainProfileCard__Header__ProfilePicture{
border-radius: 50%;
display: block;
height: 100px;
width: 100px;
}


.MainProfileCard__Header__ProfileInfo_holder{
padding-left: 38px;
text-align: right;
}

.MainProfileCard__Header__ProfileInfo_Name{
  color: #111;
    font-family: 'Muli', sans-serif;;
    font-size: 23px;
    margin-bottom: 5px;

}



.MainProfileCard__Header__TeachingLocation_holder{
border-right: 1px solid #eaeaea;
    flex: 1;
    font-size: 13px;
    font-weight: 600;
    margin-top: 9px;
    padding-left: 22px;
    
}

.MainProfileCard__Header__TeachingLocation_Title{
  text-align: center;
    color: #4f6f96;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
    
}

.MainProfileCard__Navigator{
  align-items: center;
  border-bottom: 4px solid #979797;
  display: flex;
  margin: 30px 0;
}
.MainProfileCard__Navigator{
  list-style: none;
  margin-bottom: 20px;
}
.MainProfileCard__Navigator__option{
  border-bottom: 5px solid transparent;
    color: #000;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 11px 22px 6px 22px;
    cursor: pointer;
}
.MainProfileCard__Navigator__option:hover{
  color: #4f6f96;
  font-weight: 550;
}
.MainProfileCard__Bio{
  text-align: right;
  color: #404040;
    font-family: 'Muli', sans-serif;;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
