:root {
  --light-green : #177135;
  --dark-green : #105226;
  --text-green : #167134;
  --border-green : #b8c6bc;
}

.SignInForm__Wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    text-align: center;
}
.SignInForm {
    position: relative;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

.SignInForm__Title {
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  font-size: 2rem;
  
}

#SignInForm__textInput, #SignInForm__passwordInput {
  width: 70%;
  padding: 20px 26px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}



.SignInForm__button--submit {
  background-color: var(--dark-green);
  color: white;
  padding: 20px 26px;
  margin: 5% 5%;
  cursor: pointer;
  width: 70%;
  font-size: large;
  border-radius: 15px;
  border: 1px solid var(--dark-green);

}

.SignInForm__button--submit:hover {
  opacity: 0.8;
}

#SignInForm__button--signUp{
  border: none;
  color: var(--text-green);
}
#SignInForm__button--signUp:hover{
  border: none;
  color: var(--text-green);
  
}

#SignInForm__button--forgotPassword{
  border: none;
  color: var(--text-green);
}
#SignInForm__button--forgotPassword:hover{
  border: none;
  color: var(--text-green);
  
}
@media only screen and (max-width: 1024px) {
  .SignInForm__Wrapper { width:100%}
}
