:root {
  --light-green : #177135;
  --dark-green : #105226;
  --text-green : #167134;
  --border-green : #b8c6bc;
}

.SignInForm__Wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    text-align: center;
}
.SignInForm {
    position: relative;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

.SignInForm__Title {
  margin: 10px;
  padding:20px;
  border-radius: 5px;
  font-size: 2rem;
  
}

#SignInForm__textInput, #SignInForm__passwordInput {
  background-color: #e6e3e3;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-bottom: 30px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#SignInForm__textInput, #SignInForm__passwordInput {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

#SignInForm__textInput, #SignInForm__passwordInput {
  color: black;
}

.SignInForm__button--submit {
  background-color: steelblue;
  border: none;
  color: white;
  width: 85%;
  padding: 16px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.SignInForm__button--submit:hover {
  background-color: steelblue;
  opacity: 0.8;
}

#SignInForm__button--signUp{
  border: none;
  color: var(--text-green);
}
#SignInForm__button--signUp:hover{
  border: none;
  color: var(--text-green);
  
}

#SignInForm__button--forgotPassword{
  border: none;
  color: var(--text-green);
}
#SignInForm__button--forgotPassword:hover{
  border: none;
  color: var(--text-green);
  
}
#titleSIGNIN {
  color: steelblue;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}
@media only screen and (max-width: 1024px) {
  .SignInForm__Wrapper { width:100%}
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}