.SignUpForm__Wrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}
.SignUpForm {
    position: relative;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

.SignUpForm__Title {
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  font-size: 2rem;
  
}

.SignUpForm__textInput, #SignUpForm__passwordInput {
  width: 70%;
  padding: 20px 26px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}

.SignUpForm__button--register {
  background-color:rgb(9, 76, 131);
  color: white;
  padding: 20px 26px;
  margin: 5% 5%;
  cursor: pointer;
  width: 70%;
  font-size: large;
  border-radius: 15px;
  border: 1px solid rgb(9, 76, 131);
}

.SignUpForm__button--register:hover {
  opacity: 0.8;
}

#SignUpForm__button--alreadyHaveAccount{
  border: none;
  color: black;
}
#SignUpForm__button--alreadyHaveAccount:hover{
  border: none;
  color: rgb(9, 76, 131);
  
}

.s h3{
  position: relative;
  margin-right: 45%;
}
.required {
  color: red;
}

/* For mobile phones And Tablets : */
@media only screen and (max-width: 1024px) {
  .SignUpForm__Wrapper { width:100%}
}

