.Table__Title{
    text-align: right;
    border-bottom: 3px solid steelblue;
    width:fit-content;
    margin-top:2%;
    margin-right:8%;
    font-style: oblique;
    font-size:23px;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
}