.HomePage__subject {
    display:grid;
    grid-template-columns: 20vw 60vw 20vw ;
    grid-template-rows: auto;
    grid-template-areas: 
    " . cards .";

}

.cardsSlides{
    display:grid;
    grid-area: cards ;
}

