.HomePage__subject {
    display:grid;
    grid-template-columns: 15vw 70vw 15vw ;
    grid-template-rows: auto;
    grid-template-areas: 
    " . cards ."
    " . profile . ";

}

.cardsSlides{
    grid-area: cards ;
}

/*  Card sliders bottom dots -> UnVisible */ 
button.rec-dot{
    display: none;
  }

  @media only screen and (max-width: 1024px) {
    .HomePage__subject { grid-template-columns: 0vw 95vw 0vw;}
  }

  @media only screen and (max-width: 540px) {
    .HomePage__subject { grid-template-columns: 0vw 90vw 0vw;}
  }

  @media only screen and (max-width: 350px) {
    .HomePage__subject { grid-template-columns: 0vw 80vw 0vw;}
  }


