:root {
    --light-green : #177135;
    --dark-green : #105226;
    --text-green : #167134;
    --border-green : #b8c6bc;
  }
.matchingTeachers__wrapper {
      
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows:  auto;
    grid-template-areas:
    " . . . "
    " . miniProfile .";
}

.matchingTeachers__miniProfileCard{
    grid-area: miniProfile;
    margin-bottom: 5%;
    margin-top: 2%;
    
    
}

.matchingTeachers__Filters {
    margin-top:2%;
    text-align: center;
    grid-area: filters;
}

@media only screen and (max-width: 1024px) {
    .matchingTeachers__wrapper {
        grid-template-columns: 0vw 100vw 0vw;

    }
    
    
}