:root {
    --light-green : #177135;
    --dark-green : #105226;
    --text-green : #167134;
    --border-green : #b8c6bc;
  }
.SubjectCard__Wrapper{
    width:100%;
    
}
.SubjectCard__Title{
    text-align: right;
    border-bottom: 1px solid black;
    width:fit-content;
    margin-top:2%;
    margin-right:8%;
    font-style: oblique;
    font-size:23px;
    font-weight: bolder;
}
.SubjectCard__WrapperTitle > h2 { 
    text-align: center;
    margin-top:5%;
    color: black;
    font-weight: bold;
    font-size: 26px;
}

.rec.rec-arrow {
    background-color: whitesmoke;
    box-shadow: none;
}
