
:root {
    --light-green : #177135;
    --dark-green : #105226;
    --text-green : #167134;
    --border-green : #b8c6bc;
  }


.Testimonials__container {

    display:grid;
    background-color: rgb(209, 209, 209);

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

    grid-template-areas: 
    " .  title  . "
    " star expert stam "
    ;
    
}

.Testimonials__title { 
    color: var(--light-green);
}
.star {
    grid-area: star;
    width: 90%;
    margin-bottom: 10%;
    margin-top:10%;
    text-align: center;
}

.expert {
    grid-area: expert;
    width: 90%;
    margin-bottom: 10%;
    margin-top:10%;
    text-align: center;

}
.stam {
    grid-area: stam;
    width: 90%;
    margin-bottom: 10%;
    margin-top:10%;
    text-align: center;

}

.title {
    margin-top: 10%;
    text-align: center;    
    grid-area: title;
    font-size: 28px;
    color: var(--text-green);
}


/* For mobile phones And Tablets : */
@media only screen and (max-width: 1024px) {
        
    .Testimonials__container {
         grid-template-columns: 10vw 80vw 10vw;
         grid-template-areas: 
         "  . title . "
         ". star . "
         ". expert . "
         ". stam ."
         ;
     
        }
        .title {
            
            margin-left: 5%;
            margin-right: 0;
        }
        
  }