
.ForgotPassword__Wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    text-align: center;
}
.ForgotPassword {
    position: relative;
    border-radius:5px;
    width: 100%;
    height: 100%;
}

.ForgotPassword__Title {
  margin: 10px;
  padding:10px;
  border-radius: 5px;
  font-size: 2rem;
  
}

#ForgotPassword__textInput {
  width: 70%;
  padding: 20px 26px;
  margin: 2% 2%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}



.ForgotPassword__button--submit {
  background-color:rgb(9, 76, 131);
  color: white;
  padding: 20px 26px;
  margin: 5% 5%;
  cursor: pointer;
  width: 70%;
  font-size: large;
  border-radius: 15px;
  border: 1px solid rgb(9, 76, 131);

}

.ForgotPassword__button--submit:hover {
  opacity: 0.8;
}

#ForgotPassword__button--signUp{
  border: none;
  color: rgb(9, 76, 131);
}
#ForgotPassword__button--signUp:hover{
  border: none;
  color: rgb(9, 76, 131);
  
}

#ForgotPassword__button--forgotPassword{
  border: none;
  color: rgb(9, 76, 131);
}
#ForgotPassword__button--forgotPassword:hover{
  border: none;
  color: rgb(9, 76, 131);
  
}
@media only screen and (max-width: 1024px) {
  .ForgotPassword__Wrapper { width:100%}
}
